.wrapper {
    // width: 60%;
    margin: auto;

    // margin-top: 2rem;
}

a.active {
    background-color: gray;
}

#calendar-container {
    width: 500px;
    margin: auto;
}

.calendar-days {
    width: 58px;
    height: 58px;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.inactive {
    opacity: 0.5;
}

.selected {
    background: peru;
    opacity: 0.6;
}

.today {
    color: red;
    background-color: #89E4C0;
}

.reserved {
    color: blueviolet;
}

.heading {
    display: flex;

    p {
        margin-right: 3rem;
        font-size: 14px;
        color: #2C77FF;
    }
}

.nus-data {
    margin-top: 15px;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.nus-heading {
    color: #2C77FF;
    font-weight: bold;
    font-size: 14px;
}

.boxes {
    display: flex;
}

.box {
    text-align: center;
    padding: 10px;
    margin-right: 1rem;
    border-radius: 5px;
    font-weight: bold;
    width: 110px;

    &.red {
        background-color: #FFC3C1;
    }

    &.green {
        background-color: #89E4C0;
    }

    &.blue {
        background-color: #ACDAFF;
    }

    p,
    span {
        text-align: center;
        color: white;
        font-weight: bold;

        &.count {
            font-size: 25px;
        }
    }
}


.selected-date {
    h3 {
        font-weight: 600;
    }

    p {
        font-weight: 500;
    }
}

.legend h3 {
    margin-top: 4rem;
    font-weight: 600;
}

.legendbox1 {
    width: 30px;
    height: 30px;
    background-color: #89E4C0;
    border-radius: 5px;
    margin-right: 1rem;
}

.legendbox2 {
    width: 30px;
    height: 30px;
    background-color: #DDDDDD;
    border-radius: 5px;
    margin-left: 3rem;
    margin-right: 1rem;
}

.legendbox3 {
    width: 30px;
    height: 30px;
    background-color: #FFC3C1;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.legendbox4 {
    width: 30px;
    height: 30px;
    background-color: #F9F6F6;
    border-radius: 5px;
    margin-left: 3.2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.legendbox5 {
    width: 30px;
    height: 30px;
    background-color: #ACDAFF;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.month-change {
    background-color: #F8F8F8;
    display: flex;
    line-height: initial;
}

.leave {
    background-color: #ACDAFF !important;
}

.off {
    background-color: #DDDDDD;
}

.absent {
    background-color: #FFC3C1 !important;
}

.up_coming {
    background-color: #F9F6F6;
}

.present {
    background-color: #89E4C0 !important;
}

.currentDay {
    border: 1px solid darkcyan;
}

.boxShadow {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    color: white;
}