.ssn {
    border: 1px solid #ccc;
    font-family: monospace;
  }
  
  .ssn input {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    font: inherit;
    padding: 0;
    outline: 0;
  }