$background_color_8: #fff;
$themeBlue: #0D1E5C;

.table-footer {
    text-align: right;
    margin-top: 38px;
}

.up-pagination {
    li {
        display: inline-block;

        a {
            display: block;
            border: 1px solid #ddd;
            padding: 2px 12px;
            font-size: 12px;
            cursor: pointer;

            &.next {
                border-bottom-right-radius: 22px;
                border-top-right-radius: 22px;
            }

            &.previous {
                border-bottom-left-radius: 22px;
                border-top-left-radius: 22px;
            }
        }

        &:hover {
            a {
                color: #fff;
                background-color: $themeBlue;
                border: 1px solid $themeBlue;
            }

            a.disabled {
                background-color: #fff;
                border: 1px solid #ddd;
                color: grey;
                cursor: default;
            }
        }

        a.disabled {
            color: grey;
        }
    }

    li.active {
        a {
            color: #fff;
            background-color: $themeBlue;
            border: 1px solid $themeBlue;
        }
    }
}