@import '~@angular/material/theming';

$font-family: 'Montserrat';
$font-weight: 600;

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$custom-typography: mat-typography-config($font-family: 'Montserrat',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500));


@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
// If you're using Material's theming,
// you can also pass in your typography config to the mat-core mixin: // Override the typography in the core CSS.
@include mat-core($custom-typography);

$my-primary-text: rgba(black, 0.1);
$my-warn-text: rgba(black, 0.1);

$mat-cyan: (50: #e0f7fa,
    100: #b2ebf2,
    200: #80deea,
    300: #4dd0e1,
    400: #26c6da,
    500: #00bcd4,
    600: #00acc1,
    700: #0097a7,
    800: #00838f,
    900: #006064,
    A100: #84ffff,
    A200: #18ffff,
    A400: #00e5ff,
    A700: #00b8d4,
    contrast: (50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    ));

$mat-blue: (100: #00acc1,
    contrast: (100: $my-primary-text,
    ));

$mat-red: (100: #d75a4a,
    contrast: (100: $my-warn-text,
    ));

$my-app-primary: mat-palette($mat-cyan, 900);
$my-app-accent: mat-palette($mat-cyan);
$my-app-warn: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

@import "assets/styles/material-override.scss";