@import "assets/styles/colors.scss";

// .btn-default {
//     border: 1px solid !important;
//     border-radius: 100px !important;
//     // background: $color-red;
//     line-height: 22px !important;
//     padding: 0 25px !important;
//     min-width: 120px !important;
//     font-size: 15px !important;
//     height: 34px !important;

// }

// .btn-blue {
//     border: 1px solid $color-blue !important;
//     border-radius: 100px !important;
//     background: $color-blue;
//     color: $color-white;
//     line-height: 22px !important;
//     padding: 0 25px !important;
//     min-width: 120px !important;
//     font-size: 15px !important;
//     height: 34px !important;
// }

// .btn-small-blue {
//     border: 1px solid $color-blue !important;
//     border-radius: 100px !important;
//     background: $color-blue;
//     color: $color-white;
//     line-height: 22px !important;
//     // padding: 0 25px !important;
//     // min-width: 120px !important;
//     font-size: 10px !important;
//     // height: 34px !important;
// }

// .btn-dark-blue {
//     border: 1px solid $color-dark-blue !important;
//     border-radius: 100px !important;
//     background: $color-dark-blue;
//     color: $color-white;
//     line-height: 22px !important;
//     padding: 0 25px !important;
//     min-width: 120px !important;
//     font-size: 15px !important;
//     height: 34px !important;
// }

// .btn-small-default {
//     border: 1px solid !important;
//     border-radius: 25px !important;
//     // background: $color-red;
//     line-height: 24px !important;
//     // padding: 0 30px !important;
//     // min-width: 160px !important;
//     font-size: 10px !important;
// }

// .btn-full-default {
//     border: 1px solid !important;
//     border-radius: 25px !important;
//     // background: $color-red;
//     // line-height: 30px !important;
//     padding: 0 30px !important;
//     min-width: 120px !important;
//     font-size: 15px !important;
//     width: 100% !important;
// }

.btn-full-default-1 {
    border: 1px solid #666666 !important;
    // border-radius: 25px !important;
    // background: $color-red;
    // line-height: 30px !important;
    padding: 0 30px !important;
    min-width: 120px !important;
    font-size: 15px !important;
    width: 100% !important;
    color: #666666;
}

.btn-full-default-2 {
    border: 1px solid red !important;
    // border-radius: 25px !important;
    // background: $color-red;
    // line-height: 30px !important;
    padding: 0 30px !important;
    min-width: 120px !important;
    font-size: 15px !important;
    width: 100% !important;
    color: red;
}

.btn-blue {
    background: #00509c !important;
    border-color: #00509c !important;
    width: 150px !important;
    min-width: 150px !important;
    height: 40px !important;
    font-size: 15px !important;
    color: #ffffff !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-align: center !important;
    border-radius: 5px !important;
    fill: #00509c !important;
}

.btn-red {
    background: #EB3026 !important;
    border-color: #EB3026 !important;
    width: 150px !important;
    min-width: 150px !important;
    height: 40px !important;
    font-size: 15px !important;
    color: #ffffff !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-align: center !important;
    border-radius: 5px !important;
    fill: #EB3026 !important;
}

.btn-white {
    background: white !important;
    border-color: #00509c !important;
    width: 150px !important;
    min-width: 150px !important;
    height: 40px !important;
    font-size: 15px !important;
    color: #00509c !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-align: center !important;
    border-radius: 5px !important;
    fill: 00509c !important;
    border: 1px solid !important;
}

.header-button {
    background: transparent linear-gradient(259deg, #242F68 0%, #2E4095 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px !important;
    float: right;
    color: #FFFFFF;
    font: normal normal normal 15px Montserrat;
    height: 40px;
    letter-spacing: 0px;
    margin-right: 20px;
}